<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cuemon.Core" version="6.4.1" targetFramework="net472" />
  <package id="Cuemon.Data" version="6.4.1" targetFramework="net472" />
  <package id="Cuemon.Data.SqlClient" version="6.4.1" targetFramework="net472" />
  <package id="Cuemon.Resilience" version="6.4.1" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.8.3" targetFramework="net472" />
</packages>